includes:
  - ./vendor/phpstan/phpstan-phpunit/extension.neon
  - ./vendor/phpstan/phpstan-phpunit/rules.neon

parameters:
  phpVersion: 80300 # PHP 8.3 - Current minimal version supported
  level: max
  paths:
    - ./src
    - ./tests

  bootstrapFiles:
    - ./vendor/autoload.php

  ignoreErrors:
    -
      path:    'src/Day/PuzzleDay6.php'
      message: '`Parameter #1 ...\$arg1 of function max expects non-empty-array, list<int<0, max>> given.`'
      count:   1
